* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
}
